#!/usr/bin/env bash
#
# 1. run script as systemd timer every 30s
# 2. script checks if it on consul leader
# 3. if it is - its checks if:
#                   - drbd in primary role
#                   - drbd volume are mounted
#                   - instances are running
#    and promore, mount and start if services state are different
# 4. if it is on slave - it checks if services are stopped and stop it if not

# instances hostnames in one line with space as delimiter
# no space after last instance name
INSTANCES=(<% @instances.each_with_index do |(instance, value), idx| -%><%= instance %><% if idx < @instances.length - 1 -%> <% end -%><% end -%>)
VOLUME=<%= @volume %>
MOUNTPOINT=<%= @shared_storage %>


# check is this etcd cluster leader
is_leader () {

    leader=$(/opt/etcd/etcdctl endpoint status | awk -F', ' '{ print $5 }')

    if [ $leader = 'true' ]; then
        echo "run on leader"
        return 0
    else 
        echo "run on slave"
        return 1
    fi

}

# manage instances
# $1 - leader state
instances () {

    while read -r line
    do 
        IFS=' ' read -r dash domain state <<<"$line"

        # check if it is cluster managed instance 
        # its hostname must be in INSTANCES array
        if [[ "${INSTANCES[*]}" =~ "$domain" ]]; then
            echo "instance '$domain' is managed by cluster"
            # if we are leader run instances if it's not already
            if $1 == true; then
                if [[ $state != 'running' ]]; then
                    echo "instance '$domain' are not running start it on leader"
                    virsh start $domain
                fi
            else
                if [[ $state == 'running' ]]; then
                    echo "instance '$domain' are running stop it on slave"
                    virsh destroy $domain
                fi
            fi
        fi
            
    done <<< $(virsh list --all | tail -n +3 | head -n -1)
    
}

# manage shared storage
# $1 - leader state
drbd() {

    state=$(drbdadm role $VOLUME)
    echo "current DRBD state is $state"

    mountpoint -q $MOUNTPOINT
    mount=$?
    
    # if we are leader promote drbd volume to primary
    if [[ "$1" == "true" ]]; then
        if [[ "${state%%/*}" != 'Primary' ]]; then 
            echo "set DRBD role to primary"
            drbdadm primary $VOLUME
        fi
        # and mount virtual machines image store
        if [ $mount -eq 1 ]; then
            echo "mount DRBD volume '$VOLUME' to mount point '$MOUNTPOINT'"
            mount /dev/drbd/by-res/$VOLUME/0 $MOUNTPOINT
        fi
    else 
        if [ $mount -eq 0 ]; then
            echo "UNmount DRBD volume '$VOLUME'"
            umount $MOUNTPOINT
        fi

        if [[ "${state%%/*}" != 'Secondary' ]]; then 
            echo "set DRBD role to secondary"
            drbdadm secondary $VOLUME
        fi
    fi

}


# main
if is_leader; then
    drbd true
    instances true
else 
    instances false
    drbd false
fi
    
        