[Unit]
Description=Run KDC Cluster handler every <%= @interval %> seconds
Requires=kdc-cluster.service

[Timer]
Unit=kdc-cluster.service
OnCalendar=*:*:0/<%= @interval %>
Persistent=true

[Install]
WantedBy=timers.target
