[Unit]
Description=Hashicorp Consul
After=syslog.target
After=network.target

[Service]
Type=simple
User=<%= @user %>
Group=<%= @group %>
WorkingDirectory=<%= @home %>
ExecStart=<%= @home %>/consul agent -config-dir <%= @home %>/conf.d
ExecReload=<%= @home %>/consul reload
ExecStop=<%= @home %>/consul leave
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
