datacenter = "<%= @datacenter %>"
data_dir = "<%= @home %>"
log_level = "WARN"
node_name = "<%= @hostname %>"
bind_addr = "<%= scope.call_function('resolv', @hostname) %>"
server = true
encrypt = "<%= @key %>"
bootstrap_expect = 3
enable_local_script_checks = true
ui = true
client_addr = "127.0.0.1 <%= scope.call_function('resolv', @hostname) %>"
retry_join = <%= @nodes %>
