#cloud-config
#
    
hostname: <%= @instance %>.<%= @domain %>


# run before all other staff
bootcmd:
  - echo "127.0.0.1   localhost" > /etc/hosts
  - echo "<%= @puppet['address'] %>  <%= @puppet['name'] %> <%= @puppet['name'] %>.<%= @domain %>" >> /etc/hosts

  
package_update: true


packages:
- wget


write_files:
# disable cloud init
- path: /etc/cloud/cloud-init.disabled
  owner: root:root

# Always install packages with no recommends enabled  
- content: |
    APT::Install-Recommends "0";
    APT::Install-Suggests "0";
  path: /etc/apt/apt.conf.d/01norecommend

# puppet role fact
- content: |
    ---
    role: <%= @instance.gsub(/-/, '_') %>
  path: /opt/puppetlabs/facter/facts.d/facts.yaml

# puppet agent config  
- content: |
    [main]
    certname = <%= @instance %>.<%= @domain %>
    server = <%= @puppet['name'] %>.<%= @domain %>
    environment = production
  path: /etc/puppetlabs/puppet/puppet.conf.new 


runcmd:
# install puppet agent
- wget -O /root/puppet6-release-buster.deb https://apt.puppetlabs.com/puppet6-release-buster.deb
- dpkg -i /root/puppet6-release-buster.deb
- apt update
- apt install puppet-agent -y
- export PATH=$PATH:/opt/puppetlabs/bin
- mv /etc/puppetlabs/puppet/puppet.conf.new /etc/puppetlabs/puppet/puppet.conf

# ensure service is enabled
- systemctl enable puppet

# sign agent certificate
- puppet agent -t --waitforcert 60

# disable unnecessary services
- systemctl stop apparmor
- systemctl disable apparmor
- systemctl disable apt-daily.timer 
- systemctl disable apt-daily-upgrade.timer


# reboot when installation finished
power_state:
  mode: reboot
  message: Reboot after installation
  condition: True

