#cloud-config
#
    
hostname: <%= @instance %>.<%= @domain %>


# run before all other staff
bootcmd:
  - echo '127.0.0.1   localhost' > /etc/hosts
  - echo "<%= @puppet['address'] %>  <%= @puppet['name'] %> <%= @puppet['name'] %>.<%= @domain %>" >> /etc/hosts


package_update: true


packages:
- wget
- rsync


write_files:
# disable cloud init
- path: /etc/cloud/cloud-init.disabled
  owner: root:root

# Always install packages with no recommends enabled  
- content: |
    APT::Install-Recommends "0";
    APT::Install-Suggests "0";
  path: /etc/apt/apt.conf.d/01norecommend
    
# puppet config
# note: if create puppet.conf file before puppet-agent installation is complete
#       it stops installation and ask override puppet.conf or not
#       the simplest way is create config with different name
#       and then move it over default puppet.conf created by package
- content: |
    [main]
    certname = <%= @instance %>.<%= @domain %>
    server = <%= @puppet['name'] %>.<%= @domain %>    
    environment = production

    [master]
    certname = <%= @instance %>.<%= @domain %>
    server = <%= @instance %>.<%= @domain %>
    vardir = /opt/puppetlabs/server/data/puppetserver
    logdir = /var/log/puppetlabs/puppetserver
    rundir = /var/run/puppetlabs/puppetserver
    pidfile = /var/run/puppetlabs/puppetserver/puppetserver.pid
    codedir = /etc/puppetlabs/code  
  path: /etc/puppetlabs/puppet/puppet.conf.new 

# enable autosign
- content: |
    *.west
    *.east
  path: /etc/puppetlabs/puppet/autosign.conf  

# puppet role fact
- content: |
    ---
    role: <%= @instance.gsub(/-/, '_') %>
  path: /opt/puppetlabs/facter/facts.d/facts.yaml


runcmd:
# install puppet
- wget -O /root/puppet6-release-buster.deb https://apt.puppetlabs.com/puppet6-release-buster.deb
- dpkg -i /root/puppet6-release-buster.deb
- apt update
- apt install puppetserver puppet-agent -y
- export PATH=$PATH:/opt/puppetlabs/bin:/opt/puppetlabs/puppet/bin
- mv /etc/puppetlabs/puppet/puppet.conf.new /etc/puppetlabs/puppet/puppet.conf

# update java RAM parameter
- sed -i 's/JAVA_ARGS=.*/JAVA_ARGS="-Xms512m -Xmx512m -Djruby.logger.class=com.puppetlabs.jruby_utils.jruby.Slf4jLogger"/g' /etc/default/puppetserver 

# enshure puppet enabled and running
- systemctl enable puppetserver
- systemctl start puppetserver

# install eyaml
- gem install hiera-eyaml
- puppetserver gem install hiera-eyaml --no-document
- cd /etc/puppetlabs/puppet
- eyaml createkeys
- chown -R puppet:puppet /etc/puppetlabs/puppet/keys
- chmod -R 0500 /etc/puppetlabs/puppet/keys
- chmod 0400 /etc/puppetlabs/puppet/keys/*.pem

# move infrastructure code from temporary location
- rm -rf /etc/puppetlabs/code/environments/production
- mv /root/production /etc/puppetlabs/code/environments
- chown -R puppet:puppet /etc/puppetlabs/code/environments/production

# sign agent certificate
- puppet agent -t --waitforcert 60

# disable unnecessary services
- systemctl disable apparmor
- systemctl disable apt-daily.timer 
- systemctl disable apt-daily-upgrade.timer


# reboot when installation finished
power_state:
  mode: reboot
  message: Reboot after installation
  condition: True

