# directory with certificate pki-spec files
dir: <%= @path %>
default_remote: <%= @server %>:<%= @port %>
svcmgr: systemd
before: 72h
interval: 8h

# uncomment to enable prometheus metrics
#metrics_port: 8080
#metrics_address: localhost
