{
  "service": "<%= @certificate %>",
  "action": "restart",
  "request": {
    "CN": "<%= @fqdn %>",
    "hosts": [
      "<%= @fqdn %>",
      "www.<%= @fqdn %>",
      "https://www.<%= @fqdn %>",
      "<%= @hostname %>",
      "localhost",
      "127.0.0.1"
    ],
    "names": [
      {
        "C": "<%= @country_code %>",
        "L": "<%= @country %>",
        "ST": "<%= @city %>",
        "O": "<%= @organization %>",
        "OU": "<%= @unit %>"
      }
    ],
    "key": {
      "algo": "rsa",
      "size": 2048
    }
  },
  "private_key": {
    "path": "<%= @path %>/ca-key.pem",
    "owner": "<%= @owner %>",
    "group": "<%= @group %>",
    "mode": "0400"
  },
  "certificate": {
    "path": "<%= @path %>/ca.pem",
    "owner": "<%= @owner %>",
    "group": "<%= @group %>"
  },
  "ca": {
    "path": "<%= @path %>/ca-root.pem",
    "owner": "<%= @owner %>",
    "group": "<%= @group %>"
  },
  "authority": {
    "auth_key": "<%= @token %>",
    "profile": "<%= @profile %>"
  },
  "key_usages": [
    "server auth"
  ]
}
