[mysqld]
bind-address = <%= @bind %>

default-storage-engine = innodb
innodb_file_per_table = on
innodb_autoinc_lock_mode = 2
innodb_doublewrite = 1
innodb_flush_log_at_trx_commit = 0
max_connections = 4096
<% if !@options['characterset'].nil? -%>
character-set-server = <%= @options['characterset'] %>
<% end -%>
<% if !@options['collation'].nil? -%>
collation-server = <%= @options['collation'] %>
<% end -%>


