resource <%= @resource %> {

  device    <%= @device %>;
  disk      <%= @disk %>;
  meta-disk internal;

  net {
    protocol <%= @protocol %>;
    # from sha1, md5, and crc32c
    csums-alg sha1;
    data-integrity-alg sha1;
  }

<% @nodes.each do |node| -%>
  on <%= node %> {
<%# Get ip address of first network interface from server network configuration %>
<% @network[node]['interfaces'].each_with_index do |(interface, params), idx| -%>
<% if idx == 0 -%>  
    address   <%= params['ip'].gsub(/\/.*/, '') %>:7789;
<% end -%>
<% end -%>
  }
<% end -%>
}
