[Unit]
Description=Gerrit code review
After=syslog.target network.target

[Service]
Type=simple
User=<%= @user %>
WorkingDirectory=<%= @home %>
ExecStart=/usr/bin/java -DGerritCodeReview=1 -jar <%= @home %>/bin/gerrit.war daemon -d <%= @home %>
ExecStop=/bin/kill -s SIGINT $MAINPID
SuccessExitStatus=130 SIGINT
SuccessExitStatus=143 SIGTERM
PIDFile=<%= @home %>/logs/gerrit.pid

# default gerrit ulimits set by the init.d script... your choice
LimitCORE=0
LimitDATA=unlimited
LimitFSIZE=unlimited
LimitRSS=unlimited
# NOFILE :  GERRIT_FDS, determined by "core.packedGitOpenFiles" in the script
LimitNOFILE=1024
LimitCPU=unlimited
LimitAS=unlimited
LimitLOCKS=unlimited

[Install]
WantedBy=multi-user.target
