<VirtualHost <%= @hostname %>:<%= @port %>>
    ServerName <%= @hostname %>.<%= @domain %>

    ProxyRequests Off
    ProxyVia Off
    ProxyPreserveHost On

    <Proxy *>
        Require all granted
    </Proxy>

    <Location /login/>
        AuthType Basic
        AuthName "Gerrit Code Review"
        AuthUserFile <%= @htpasswd %>
        Require valid-user
    </Location>

    AllowEncodedSlashes On
    ProxyPass / http://127.0.0.1:8080/ nocanon
</VirtualHost>
