[gerrit]
    basePath = git
    canonicalWebUrl = http://<%= @hostname %>.<%= @domain %>/
    serverId = 08c4e96f-6466-425c-be21-b7b3762b85e2
[container]
    javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
    javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
    user = <%= @user %>
    javaHome = /usr/lib/jvm/java-11-openjdk-amd64
[index]
    type = lucene
[auth]
    type = http
[receive]
    enableSignedPush = false
[sendemail]
    smtpServer = localhost
[sshd]
    listenAddress = <%= @hostname %>:29418
[httpd]
    listenUrl = proxy-http://127.0.0.1:8080/
[cache]
    directory = cache        
[gitweb]
    type = gitweb
    cgi = /usr/lib/cgi-bin/gitweb.cgi
    linkname = browse
    