totem {
  version: 2
  cluster_name: <%= @cluster_name %>
  transport: udpu

  token: 3000
  token_retransmits_before_loss_const: 10
  clear_node_high_bit: yes

  interface {
    ringnumber: 0
    bindnetaddr: <%= @vip %>
    broadcast: yes
    ttl: 1
  }
}

quorum {
  provider: corosync_votequorum
  expected_votes: 2
}

nodelist {
<% id = 0 -%>
<% @nodes.each do |node, value| -%>
  node {
<%# Get ip address of first network interface from server network configuration %>
<% @network[node]['interfaces'].each_with_index do |(interface, params), idx| -%>
<% if idx == 0 -%>  
    ring0_addr: <%= params['ip'].gsub(/\/.*/, '') %>
<% end -%>
<% end -%>
    name: <%= node %>
    nodeid: <%= id += 1 %>
  }

<% end -%>
}

logging {
	fileline: off
	to_stderr: no
	to_logfile: no
	to_syslog: yes
	syslog_facility: daemon
	debug: off
	timestamp: on
	logger_subsys {
		subsys: QUORUM
		debug: off
	}
}
