[Unit]
Description=etcd Service
After=syslog.target network.target

[Service]
Type=simple
User=<%= @user %>
Group=<%= @group %>
WorkingDirectory=<%= @home %>
ExecStart=<%= @home %>/etcd --name <%= @hostname %> \
                            --data-dir <%= @data %> \
                            --initial-advertise-peer-urls http://<%= scope.call_function('resolv', @hostname) %>:2380 \
                            --listen-peer-urls http://<%= scope.call_function('resolv', @hostname) %>:2380 \
                            --listen-client-urls http://<%= scope.call_function('resolv', @hostname) %>:2379,http://127.0.0.1:2379 \
                            --advertise-client-urls http://<%= scope.call_function('resolv', @hostname) %>:2379 \
                            --initial-cluster-token <%= @datacenter %> \
                            --initial-cluster <% @nodes.each_with_index do |(node, value), idx| -%><%= node %>=http://<%= node %>:2380<% if idx < @nodes.length - 1 -%>,<% end -%><% end -%> \
                            --initial-cluster-state new
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
