<% if !@ddns.nil? -%>
include "/etc/bind/ddns.key";
<% end -%>

zone "<%= @zone %>" {
    type master;
    notify no;
    file "/var/lib/bind/db.<%= @zone %>"; 
#    allow-transfer { 10.128.30.220; };     # second ns in zone east
<% if !@ddns.nil? -%>
    allow-update { key DDNS_UPDATE; };
<% end -%>    
};

zone "<%= @reverse %>.in-addr.arpa" {
    type master;
    notify no;
    file "/var/lib/bind/db.<%= @reverse %>";
#    allow-transfer { 10.128.30.220; };    
<% if !@ddns.nil? -%>
    allow-update { key DDNS_UPDATE; };
<% end -%>    
};