# https://github.com/go-gitea/gitea/blob/master/custom/conf/app.example.ini
# 
# To enable reverse proxy auth:
#
#    [service]
#    ENABLE_REVERSE_PROXY_AUTHENTICATION = true
#
#    [security]
#    REVERSE_PROXY_AUTHENTICATION_USER = X-WEBAUTH-USER
#
#
APP_NAME = Gitea: Git with a cup of tea
RUN_USER = <%= @user %>
RUN_MODE = prod

[server]
PROTOCOL         = http
DOMAIN           = <%= @hostname %>.<%= @domain %>
HTTP_ADDR        = 0.0.0.0
HTTP_PORT        = <%= @port %>
ROOT_URL         = %(PROTOCOL)s://%(DOMAIN)s:%(HTTP_PORT)s/
LFS_START_SERVER = true
LFS_CONTENT_PATH = <%= @home %>/data/lfs
LFS_JWT_SECRET   = BA2ab8_D2mqTl-o4R7SWROTAEbMRgASDl2SlayVWzNQ
SSH_DOMAIN       = <%= @hostname %>.<%= @domain %>
DISABLE_SSH      = false
START_SSH_SERVER = true
SSH_LISTEN_HOST  = 0.0.0.0
SSH_PORT         = 2222
OFFLINE_MODE     = false

[database]
DB_TYPE = mysql
HOST    = 127.0.0.1:3306
NAME    = giteadb
USER    = <%= @dbuser %>
PASSWD  = <%= @dbpass %>
CHARSET = utf8mb4
SCHEMA   = 
SSL_MODE = disable
PATH     = <%= @home %>/data/gitea.db

# OAuth2 used by third-party applications to authentificate in Gitea
[oauth2]
ENABLE = true

[security]
INTERNAL_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYmYiOjE2MDY3MjQzNTJ9.89xlHFeiv7wEkuY0AQtUl5RoCYdzfqiHNrYs4l77rgo
INSTALL_LOCK   = true
SECRET_KEY     = oL60TZ2Xzwej2PPYOqLrH44h6v4TZ8bJWk2w41pz6F3HKEjVO4As1WrPvI7u0tdn

[repository]
ROOT = <%= @home %>/gitea-repositories
DISABLE_HTTP_GIT = true
DEFAULT_PRIVATE = private
FORCE_PRIVATE = true

[mailer]
ENABLED = false

[service]
REGISTER_EMAIL_CONFIRM            = false
ENABLE_NOTIFY_MAIL                = false
DISABLE_REGISTRATION              = true
ALLOW_ONLY_EXTERNAL_REGISTRATION  = false
ENABLE_CAPTCHA                    = false
REQUIRE_SIGNIN_VIEW               = false
DEFAULT_KEEP_EMAIL_PRIVATE        = false
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
DEFAULT_ENABLE_TIMETRACKING       = false
NO_REPLY_ADDRESS                  = noreply.<%= @hostname %>.<%= @domain %>

[picture]
DISABLE_GRAVATAR        = false
ENABLE_FEDERATED_AVATAR = true

[session]
PROVIDER = file

[log]
MODE      = file
LEVEL     = Warn
ROOT_PATH = <%= @home %>/log

