[Unit]
Description=Gitea (Git with a cup of tea)
After=syslog.target network.target
Requires=mariadb.service


[Service]
LimitMEMLOCK=infinity
LimitNOFILE=65535
RestartSec=2s
Type=simple
User=<%= @user %>
Group=<%= @group %>
WorkingDirectory=<%= @home %>
ExecStart=<%= @home %>/<%= @version %> web --config <%= @home %>/app.ini
Restart=always
Environment=USER=<%= @user %> HOME=<%= @home %> GITEA_WORK_DIR=<%= @home %>
# Allow to bind to port less than 1024
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE


[Install]
WantedBy=multi-user.target
